* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: black;
    color: white;
}

/* Nav bar */
#nav-bar {
    background-color: #333;
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo h1 {
    font-size: 35px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin-left: 2vw;
}

.nav-links a {
    font-size: 14px;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 0.4vw 1vw;
    display: inline-block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-links a:hover {
    color: black;
}

.nav-links a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: -1;
}

.nav-links a:hover::after {
    width: 120%;
    background-color: #90EE90;
}

.nav-links:hover a:not(:hover) {
    filter: brightness(0.5);
}

.nav-links:hover a:hover {
    filter: none;
}

.nav-links a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 238, 144, 0.1);
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.nav-links a:hover::before {
    opacity: 1;
}

/* Hamburger meni */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    background-color: white;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    right: 0;
    background-color: #333;
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.nav-links.active {
    transform: translateX(0);
}

/* Header sekcija */
.header-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.header-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.retreat-to-scandinavia {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.retreat-to-scandinavia h2,
.aboutscandinavia h2,
.tours h2,
.gallery h2,
.reviews h2,
.contact-form h2 {
    font-size: 35px;
    margin-top: 3.2vh;
    margin-bottom: 2.2vh;
    text-align: center;
}

.retreat-to-scandinavia h2 {
    line-height: 1.3;
}

.retreat-to-scandinavia p {
    font-size: 18px;
    line-height: 1.3;
    margin: 3.5vh 0;
}

.retreat-to-scandinavia button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #555;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.retreat-to-scandinavia button:hover {
    background-color: #90EE90;
    color: black;
}

/* About Scandinavia */
.aboutscandinavia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #f0f4f8;
}

.aboutscandinavia,
.tours,
.gallery,
.reviews,
.contact-form {
    padding: 15vh 2vw 12vh;
}

.aboutscandinavia h2 {
    color: black;
    animation: fadeIn 2s ease-in-out;
}

.video {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 6vw;
    max-width: 100%;
}

.video-container {
    flex: 1;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
}

.video-container:hover {
    transform: scale(1.05);
}

.video-container iframe {
    width: 100%;
    height: 47vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-text {
    flex: 1;
    max-width: 50%;
    padding: 1vw 0 1vw 3vw;
}

.video-text p {
    font-size: 15px;
    line-height: 1.3;
    color: black;
    font-weight: normal;
    text-align: justify;
    position: relative;
    animation: fadeInUp 2s ease-in-out;

}

.video-text .highlight {
    font-weight: bold;
    padding: 0 0.25vw;
    border-radius: 4px;
}

.learn-more {
    display: inline-block;
    margin-top: 1vw;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: #555;
    padding: 8px 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learn-more:hover {
    background-color: #90EE90;
    color: black;
}

/* About Scandinavia keyframe animacija */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1.25vw);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(1.25vw);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Nordic tours */
.tours-gallery {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.tour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 60vh;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0.8vh 2vw rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 1vw 2vw;
    animation: subtleGlow 6s infinite;
}

.tour-item img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.text-content {
    padding: 2vh 2vw;
    background-color: #fff;
    text-align: left;
    height: 60%;
    color: #000;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: subtleGlow 6s infinite;
}

.text-content h3 {
    font-size: 20px;
    color: #000;
    text-align: center;
}

.text-content p {
    margin-top: 1vw;
    font-size: 14px;
    line-height: 1.3;
    color: #000;
    text-align: center;
}

.text-content ul {
    padding-left: 0;
    list-style-position: inside;
    text-align: center;
}

.tour-item:hover .text-content {
    font-size: 14px;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.2s ease-in-out;
}

.highlights-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 2vh 2vw;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    line-height: 1.5;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tour-item:hover .highlights-wrapper {
    opacity: 1;
    visibility: visible;
}

.highlights-wrapper p {
    font-size: 14px;
    color: white;
}

.highlights-wrapper ul {
    padding-left: 0;
    margin-top: 3vh;
    list-style-position: inside;
    text-align: center;
}

/* Tours keyframe animacija */
@keyframes subtleGlow {
    0% {
        box-shadow: 0 0 5px rgba(144, 238, 144, 0.5);
    }

    50% {
        box-shadow: 0 0 15px rgba(144, 238, 144, 0.8);
    }

    100% {
        box-shadow: 0 0 5px rgba(144, 238, 144, 0.5);
    }
}

/* Gallery */
.gallery {
    width: 100%;
    height: 700px;
    margin-bottom: 7vh;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
}

.images img {
    width: 20vw;
    height: auto;
    max-height: 20vw;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%);
    border-radius: 8px;
    margin: 1vw;
}

.images img:hover {
    flex-grow: 1.2;
    filter: grayscale(0);
    transform: scale(1.1);
    z-index: 1;
}

.images img:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.7;
}

/* Reviews */
.reviews {
    background-color: #fff;
    padding: 15vh 2vw 25vh;
}

.reviews h2 {
    color: #000;
}

.reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.review {
    flex: 1 1 calc(25% - 2vw);
    padding: 2vw;
    background: #d2dcc8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
    margin: 1vw;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.review h4 {
    font-size: 20px;
    line-height: 1.2;
    color: #333;
    margin-bottom: 1vw;
}

.review p {
    font-size: 15px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 1vw;
}

.author {
    font-style: italic;
    font-size: 13px;
    color: #555;
}

/* Kontakt forma */
.contact-form {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    padding: 15vh 0 12vh;
    border: none;
    box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 2vw;
}

.form-group label {
    display: block;
    margin-bottom: 0.5vw;
    text-align: center;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.form-group select {
    text-align: center;
    color: #333;
    background-color: white;
}

.form-group textarea {
    resize: none;
}

.form-group button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    display: block;
    margin: 0 auto;
}

.form-group button:hover {
    background-color: #90EE90;
    color: black;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    padding: 10px 0;
    align-items: center;
}

.footer-content p {
    font-size: 12px;
    margin: 0;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-media li {
    margin-left: 2vw;
}

.social-media a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.social-media a:hover {
    color: #90EE90;
}

.social-media i {
    font-size: 20px;
}
